<main>
  <section>
    <div class="block form-card">
      <div class="logo">
        <svg>
          <use xlink:href="./assets/images/svg/instagram-text.svg#instaText" ></use>
        </svg>
      </div>
      <app-log-in-form></app-log-in-form>
    </div>

    <div class='block sign-up-link'>
      <h6>Don't have an account?</h6>
      <button>Sign up</button>
    </div>

    <h6 class="title">Get the app.</h6>
    <div class="store-links">
      <a href="">
        <img src="./assets/images/svg/appStore.svg" alt="appStore">
      </a>
      <a href="">
        <img src="./assets/images/svg/Google_Play_Store_badge_EN 1.svg" alt="gogleStore">
      </a>
    </div>
  </section>
</main>


