

<main>
<div class="card"
     *ngFor="let chosenPost of post">

    <ul>
      <li>
        <h5>
          Post ID:
          {{chosenPost.id}}
        </h5>
        <h5>
          User ID:
          {{chosenPost.userId}}
        </h5>
      </li>
      <li>
        <div class="post-title">
          <h4>Title:</h4>
          <p>
            {{chosenPost.title}}
          </p>
        </div>
        <div class="post-body">
          <p>
            {{chosenPost.body}}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="backLink">
    <a  routerLink="/content">Choose another post</a>
  </div>
</main>

